<% content_for :map do %>


  <div class="tiny" style="margin:-23px 0 10px 30px;">Maps </div> 
		<hr><br>

<center>
<img src="https://56.media.tumblr.com/4339e3ea1fb5f69368c197643b852e01/tumblr_o14hgaNBTq1simze1o1_540.png" width="50%">
</center>

<% end %>
