
<% @results = Google::Search::News.new(query: "news") %>

<% content_for :news do %>
  <div class="news_feed">
    <h1>News Feed</h1>

      <% @results.each do |result| %>
        <div>
          <div class="news_title">
            <h4><%= link_to result.title, result.uri, target:"blank" %></h4>
          </div>
          <div class ="new_content">
            <p><%= simple_format result.content %></p>
          </div>
        </div>
      <% end %>
    </div>


<% end %>
