<% content_for :setting do %>
<ul class="menu">
  <li><a href="#">?</a></li>
  <li><a href="#">?</a></li>
  <li><a href="#">?</a></li>
  <li><a href="#">?</a></li>
  <li><a href="#">?</a></li>
  <li class="color-bg"></li>
</ul>


<%end%>
