<% content_for :game do %>


<!-- 
<section id="wrapper">
   <canvas id="lines"></canvas> 
</section>

<button class="drawing-button" id="ten-px" class="active">10px</button>
<button class="drawing-button" id="two-px">2px</button>


 -->


  <div class="tiny" style="margin:-23px 0 10px 30px;">Draw </div> 
    <hr><br>

<video width="100%" autoplay loop>
    <source src="http://elisehanson.info/drawtool.mp4" type="video/mp4">
    <source src="m" type="video/ogv">
      Your browser does not support the video
  </video>





<% end %>
