<div class="container">
  <div class="frame">
<!--   	<div class="col1"> -->
     <% @words.each do |word| %>
       	<div class="col1">
      <div class="bit-10">
      	<div class="box">
	        <%= word.title %>
	        <%= word.content %>
	        <%= link_to 'Show', word %>   
  		</div>
  	</div>
  </div>
    <% end %>
<!-- </div> -->
	</div>

<!--  	<div class="col2">
 		<div class="bit-10">
      		<div class="box">ssf
      		</div>
      	</div>
      	<div class="bit-10">
      		<div class="box">fghj
      		</div>
      	</div>
      	<div class="bit-10">
      		<div class="box">gh
      		</div>   
      	</div>   		
	    </div>
	</div> -->


</div>
</div>