<% content_for :word do %>

  <div class="tiny" style="margin:-23px 0 10px 30px;">Notes </div> 
		<hr><br>

<div id="wordform">

	<%= form_for :word, :url => {:controller=> "words", :action => "create", :id => session[:user_id]} , :method => :post, :remote=> true do |f| %> 

	    <%= f.text_field :title, style: " font-family: 'Karla'; resize: none; height:50px; width:100%; border: none; background-color:white; padding:10px; margin:10px 0;", placeholder: "Title" %>

	    <%= f.text_area :content, style: " font-family: 'Karla'; resize: none; height:200px; width:100%; border: none; padding:10px; font-size:16px;", placeholder: "Content" %>

	    <%= f.submit 'save', :class => 'b' %><br> </div>
	  	<center><div class="saved" style="margin-top:125px;"> </div></center>

	<% end %>

<% end %>
