<% content_for :word_show do %>

	<div id="showthis" style="width:100%; height:100%;"></div>

	<script> 
      
	$( ".click_show_box" ).each(function() {
	  $(this).on("click", function(){
	  	var id= $(this).attr('id');
        $('#showthis').load('/words/'+id); 
	  });
	});

	</script>

 <% end %>