<span id="blue">
<div class="col1">
  <div class="bit-10">
	     <div class="box click_show_box" id="<%= word.id %>">
        	<div>
	        <%= word.title %> 
	          <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
          </div>
  		</div>
  	</div>
  </div>
</span>


