// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#email{
  position: absolute;
  top:150px;
  left:250px;
  width: 40%;
  height:60%;
  border-radius: 4px; padding: 8px;
  resize:both;
  overflow:auto;
  opacity:0;
  z-index:-1;
  background-color:lightgray;
  box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.email_field{
  width:100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: black;
  font-size: .9rem;
  font-weight: 200;
  margin-bottom: 2rem;
  outline: none;
  padding: 0.6rem 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}
#body_content{
  margin-top:5%;
  width:100%;
  height:100px;
  background-color:rgb(245,245,245);
  color: black;
  font-size: .9rem;
  font-weight: 200;

}
.email_label{
  font-size:14px;
  font-weight:100;
}

#email_button{
  margin-top:2%;
  float:right;
}


