/*     application layout    */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-color:#fafafa;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  /*#fafafa;*/
}

header {  
  position: fixed;
  left:0px;
  top:0px;
  height:30px;
  width:100%;
  background-color:lightgrey;

  h5{
    text-align:right;
    padding-right:1%;
  }
}

header .left{
  display: block;
  float:left;
   width: 500px;
   margin:5px;
   font-size: 14px;
}

header .right{
  display: block;
  float:right;
   width: 100px;
}


footer {
  height:60px;
  width:100%;
  background-color:rgba(192,192,192,0);
  text-align: center;
  position: fixed;
  left:0px;
  bottom:0px;
}

.container {
  height:600px;
  background: none;
/*      overflow: hidden;*/
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10 {
  width:8%;
  float:right;
}

.frame {
  margin: 0 auto;
  margin-top: 45px;
  max-width: 100%; 
}
  
.frame:after {
  content: "";
  display: table;
}

[class*='bit-'] {
  padding: 0.3em; }

.bit-10 {
  width: 100%; }

.box {
  height:75px;
  background:rgba(255,255,255,0.75);
/*  border:0px black solid;*/
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
/*  font-family: "Futura", sans-serif;*/
  font-size: 12px;
  text-align: center;
  padding: 20px 0; }

.box:hover {
  background-color:white;
}

.box img {
  max-width: 100%;
  max-height: 100%;
}

/*    end   */


.column{
  height:50px;
  width:60px;
  display:inline;
  padding-left:1%;
  cursor:pointer;
}
.column:hover{
  opacity:.6;
}
#columns{
  width:40%;
  height:110%;
  margin-left:30%;
  background-color:rgba(192,192,192,0.3);
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  margin-top:0%;
  
  img{
    height:30px;
    width:40px;
  }
}

.x {
  font-weight:100; 
  font-size:40px; 
  margin-top: -20px; 
  margin-bottom:0px; 
  width:40px;
}

.x:hover {
  color:white;
}

a  {
      color:#000;
      text-decoration:none;
    }
a:hover {
  text-decoration:underline;
}
