// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#photo{
    position: absolute;
    top:50px;
    left:150px;
/*    border: 2px solid black;*/
   width: 80%;
    height:80%;
    border-radius: 4px; padding: 8px;
    resize:both;
    overflow:auto;
    opacity:0;
    z-index:-1;
    background-color:lightgray;
    box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

.title {
    font-weight: 100;
}

input.upload {
    border-bottom:1px solid black;
    font-family: arial;
    font-size:10px;
    width:88%;
    height:30px;
    cursor: pointer;
    text-align: center;
}

.upload input.button {
    border:1px solid black;
    font-family: arial;
    font-size:10px;
    height:28px;
    width:10%;
    cursor: pointer;
}

.upload input.button:hover {
    background-color: white;
}


.photogrid {
    background-color:white;
    margin:10px;
    width:30%;
    height:200px;
    float:left;
}

.photogrid img {
    max-width: 100%;
    max-height:90%;
}

.delete {
    position: relative;
    top: 0; 
    right: 0; 
    margin:10px;   
}

